@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* NAV CONTAINER */
    .navContainer {
        position: fixed;
        gap: 1rem;
        padding: 0 1rem;
        width: 100%;
    }

    /* LOGO */
    .navContainer .logo {
        font-size: 1.2rem;
        width: auto;
        padding-top: 1rem;
    }


    .logo #insideH2 {
        left: 12rem;
        top: -1.89rem;
        font-size: 0.9rem;
    }

    /* HIDE LINKS BY DEFAULT */
    .navContainer .navLinks {
        display: none;
        position: absolute;
        top: 8vh;
        left: 34vw;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;

        padding: 1.5rem 0;


    }


    .navLinks ul li {

        width: 30vw;
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: rgb(219, 218, 218);
        display: inline-block;
        /* IMPORTANT */
        transition: transform 0.2s ease;
    }

    .navLinks ul li:hover {
        transform: scale(1.1);
        background-color: rgb(255, 248, 50);
    }

    .navLinks ul {
        display: flex;
        flex-direction: column;
        gap: 2px;
        background: transparent;
        padding: 0.5rem;
        backdrop-filter: blur(05px);
        -webkit-backdrop-filter: blur(8px);
    }

    .btn {
        width: 30vw;
    }

    .navLinks ul li a {
        color: rgb(126, 57, 0);
    }

    /* SHOW MENU ICON */
    .menuIcon {
        display: block;
        color: rgb(196, 111, 0);
        font-weight: bold;
    }

    /* OPTIONAL: HIDE ORDER BUTTON ON MOBILE */
    #orderBtn {
        display: none;
    }

    /* WHEN MENU IS OPEN */
    .navLinks.open {
        display: flex;
    }

    .hero {

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .heroContainer {

        margin-top: -15vh;
    }
    .heroContainer h2 {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(8, 8, 71);
}

    .heroImage {
        position: absolute;
        overflow: hidden;
        width: 80vw;

        left: 35vw;
        top: 40vh;
    }

    .heroText p {
        width: 40vw;

    }

    #seconImg {
        height: 80vh;
        object-fit: inherit;

    }

    /*  ----------- why section--------- */
    .why {
        /* border: 1px solid red; */


    }

    .whyContainer {
        background-color: rgba(255, 255, 0, 0.043);
        backdrop-filter: blur(5px);
        border-radius: 2rem;
        margin-top: 10vh;
        position: relative;
        bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 30vh;
        animation: why 0.8s ease forwards;
        

    }
   .box p {
    font-size: 2rem;
   }

    @keyframes why {
        from {
            width: 20vw;
            height: 10vh;
            
            display: none;

        }

        to {
            width: 75vw;
            height: 55vh;
           
            display: flex;
        }}

        .why #whyH {
            font-size: 2rem;
            font-weight: 900;
            width: 40vw;
        }

        .why p {
            font-size: 1rem;
        }

        .box {
            padding-top: 3rem;
        }

        .menu {
            position: relative;
            top: 10vh;
            width: 100vw;

            padding: none;
        }

        .menuContainer {
            top: -10vh;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 110vw;
            /* border: 5px solid orange; */
            padding: 2rem 0 2rem 0;
            margin: none;

        }

        .menuGrid {
            padding-left: 0rem;
            height: 110vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: space-between;
        }

        .menuGrid .content {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
            height: 25vh;
            justify-content: space-around;
            align-items: flex-start;
        }

        .menuCard {
            margin-left: 2rem;
            height: 34vh;
            width: 95vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;


        }

        .content h3 {
            height: 1rem;
        }


        .menuImg {
            border-radius: 1rem;
            object-fit: fill;
            height: 25vh;
            width: 40vw;
            transition: transform 0.3s ease;
        }

        .menuImg:hover {
            transform: scale(1.08);
        }

        /* -------------reviews-------------------- */
        .customers {
            width: 100vw;
            top: 20vh;
            padding: 2rem;
            margin-left: 2rem;

        }

        .customers .reviewList {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            overflow: auto;
            height: auto;
            width: auto;
            /* border: 2px solid purple; */
            padding: 2rem;
            padding-left: rem;
        }


        .customers h2 {
            font-size: 2rem;
            padding: 1rem;
        }

        .customers .testimonial {
            background-color: rgb(231, 106, 3);
            border-radius: 0.5rem;
            padding: 1rem;
            height: 20vh;
            width: 60vw;
            flex-shrink: 0;
            font-size: 1.5rem;
            transition: transform 0.3s ease;

        }

        .testimonial:hover {
            transform: scale(1.1);
        }

        #reviewAdd {
            font-size: 0.8rem;
            position: relative;
            left: 55vw;
        }


        .ctaContainer p {
            font-size: 1.5rem;
        }

        /*   -----ONTACT  ------------- */

        .contactContainer {
            position: relative;
            top: 20vh;
            font-size: 1.5rem;


        }

        /* FORM----------------------------- */
        .contactForm {
            /* border: 5px solid green; */
            height: 30vh;
            width: 70vw;
            margin-top: -10rem;
        }

        .contactContainer .contactInfo {
            margin-bottom: 2rem;
        }



        /*_----------------------------Footer------------------- */

        footer {
            position: absolute;
            width: 100vw;
            bottom: -30vh;
        }

        .footerContainer {
            width: 110vw;
            position: absolute;
            padding: 0.5rem;
            background-color: rgb(245, 191, 163);


        }



    }